<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Subwoofer">
    <xacro:include filename="$(find subwoofer_model)/urdf/imports/constants.xacro"/>
    <xacro:include filename="$(find subwoofer_model)/urdf/imports/parts.xacro"/>
    <xacro:include filename="$(find subwoofer_model)/urdf/imports/builders.xacro"/>

    <xacro:create_body />

    <xacro:create_left_leg
        parent="front_outer_shoulder"
        name="front_left"
        xyz="${-37*scale} ${0*scale} ${7*scale}" />

    <xacro:create_right_leg
        parent="front_outer_shoulder"
        name="front_right"
        xyz="${37*scale} ${0*scale} ${7*scale}" />

    <xacro:create_left_leg
        parent="back_inner_shoulder"
        name="back_left"
        xyz="${-37*scale} ${0*scale} ${7*scale}" />

    <xacro:create_right_leg
        parent="back_inner_shoulder"
        name="back_right"
        xyz="${37*scale} ${0*scale} ${7*scale}" />

</robot>