<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Subwoofer_builders">

    <xacro:include filename="$(find subwoofer_model)/urdf/imports/constants.xacro"/>
    <xacro:include filename="$(find subwoofer_model)/urdf/imports/materials.xacro"/>



    <!-- Link builder -->
    <xacro:macro name="create_link" params="name mesh rpy xyz mass">
        <link name="${name}">
            <inertial>
                <mass value="0.050"/>
                <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
            </inertial>
            <visual>
                <origin rpy="${rpy}" xyz="${xyz}"/>
                <geometry>
                    <mesh filename="${mesh}" scale="${scalar}"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="${rpy}" xyz="${xyz}"/>
                <geometry>
                    <mesh filename="${mesh}" scale="${scalar}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="create_link_colour" params="name mesh rpy xyz mass colour">
        <link name="${name}">
            <inertial>
                <mass value="0.050"/>
                <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
            </inertial>
            <visual>
                <origin rpy="${rpy}" xyz="${xyz}"/>
                <geometry>
                    <mesh filename="${mesh}" scale="${scalar}"/>
                </geometry>
                <material name="${colour}"/>
            </visual>
            <collision>
                <origin rpy="${rpy}" xyz="${xyz}"/>
                <geometry>
                    <mesh filename="${mesh}" scale="${scalar}"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>


    <!-- Fixed joint -->
    <xacro:macro name="create_fixed_joint" params="parent child rpy xyz">
        <joint name="${child}_to_${parent}" type="fixed">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <origin rpy="${rpy}" xyz="${xyz}"/>
        </joint>
    </xacro:macro>

    
    <!-- Revolute joint -->
    <xacro:macro name="create_revolute_joint" params="parent child rpy xyz axis lower upper velocity">
        <joint name="${child}_to_${parent}" type="revolute">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <axis xyz="${axis}"/>
            <limit effort="1000.0" lower="${lower}" upper="${upper}" velocity="${velocity}"/>
            <origin rpy="${rpy}" xyz="${xyz}"/>
            <dynamics damping="0.05" friction="0.05"/>
        </joint>
    </xacro:macro>




    <!-- Main body builder -->
    <xacro:macro name="create_body">
        <link name="base_link"/>

        <xacro:create_link
            name="baseplate"
            mesh="${baseplate_mesh}"
            xyz="${baseplate_xyz}"
            rpy="${baseplate_rpy}"
            mass="${baseplate_mass}" />
        <xacro:create_fixed_joint
            parent="base_link"
            child="baseplate"
            rpy="0 0 0"
            xyz="0 0 0" />

        <xacro:create_link
            name="front_inner_shoulder"
            mesh="${front_inner_shoulder_mesh}"
            xyz="${front_inner_shoulder_xyz}"
            rpy="${front_inner_shoulder_rpy}"
            mass="${front_inner_shoulder_mass}" />
        <xacro:create_fixed_joint
            parent="baseplate"
            child="front_inner_shoulder"
            rpy="0 0 0"
            xyz="${0*scale} ${65*scale} ${10*scale}" />
            
        <xacro:create_link
            name="left_chassis"
            mesh="${chassis_left_mesh}"
            xyz="${chassis_left_xyz}"
            rpy="${chassis_left_rpy}"
            mass="${chassis_left_mass}" />
        <xacro:create_fixed_joint
            parent="front_inner_shoulder"
            child="left_chassis"
            rpy="0 -1.57075 3.1415"
            xyz="${-54*scale} ${-65.5*scale} ${0.5*scale}" />

        <xacro:create_link
            name="right_chassis"
            mesh="${chassis_right_mesh}"
            xyz="${chassis_right_xyz}"
            rpy="${chassis_right_rpy}"
            mass="${chassis_right_mass}" />
        <xacro:create_fixed_joint
            parent="front_inner_shoulder"
            child="right_chassis"
            rpy="0 -1.57075 0"
            xyz="${54*scale} ${-65.5*scale} ${0.5*scale}" />

        <xacro:create_link
            name="back_inner_shoulder"
            mesh="${back_inner_shoulder_mesh}"
            xyz="${back_inner_shoulder_xyz}"
            rpy="${back_inner_shoulder_rpy}"
            mass="${back_inner_shoulder_mass}" />
        <xacro:create_fixed_joint
            parent="baseplate"
            child="back_inner_shoulder"
            rpy="0 0 0"
            xyz="${0*scale} ${-66*scale} ${10*scale}" />

        <xacro:create_link
            name="bottom_chassis"
            mesh="${chassis_bottom_mesh}"
            xyz="${chassis_bottom_xyz}"
            rpy="${chassis_bottom_rpy}"
            mass="${chassis_bottom_mass}" />
        <xacro:create_fixed_joint
            parent="baseplate"
            child="bottom_chassis"
            rpy="0 0 0"
            xyz="${0*scale} ${0*scale} ${-28*scale}" />

        <xacro:create_link
            name="top_chassis"
            mesh="${chassis_top_mesh}"
            xyz="${chassis_top_xyz}"
            rpy="${chassis_top_rpy}"
            mass="${chassis_top_mass}" />
        <xacro:create_fixed_joint
            parent="bottom_chassis"
            child="top_chassis"
            rpy="0 0 0"
            xyz="${0*scale} ${0*scale} ${72*scale}" />



        <xacro:create_link
            name="front_outer_shoulder"
            mesh="${front_outer_shoulder_mesh}"
            xyz="${front_outer_shoulder_xyz}"
            rpy="${front_outer_shoulder_rpy}"
            mass="${front_outer_shoulder_mass}" />
        <xacro:create_fixed_joint
            parent="front_inner_shoulder"
            child="front_outer_shoulder"
            rpy="0 0 0"
            xyz="${0*scale} ${54*scale} ${0*scale}" />

        <xacro:create_link
            name="nose_chassis"
            mesh="${chassis_nose_mesh}"
            xyz="${chassis_nose_xyz}"
            rpy="${chassis_nose_rpy}"
            mass="${chassis_nose_mass}" />
        <xacro:create_fixed_joint
            parent="front_inner_shoulder"
            child="nose_chassis"
            rpy="0 0 0"
            xyz="${0*scale} ${74*scale} ${-7.5*scale}" />

        <xacro:create_link
            name="back_outer_shoulder"
            mesh="${back_outer_shoulder_mesh}"
            xyz="${back_outer_shoulder_xyz}"
            rpy="${back_outer_shoulder_rpy}"
            mass="${back_outer_shoulder_mass}" />
        <xacro:create_fixed_joint
            parent="back_inner_shoulder"
            child="back_outer_shoulder"
            rpy="0 0 0"
            xyz="${0*scale} ${-53*scale} ${0*scale}" />

        <xacro:create_link
            name="rear_chassis"
            mesh="${chassis_rear_mesh}"
            xyz="${chassis_rear_xyz}"
            rpy="${chassis_rear_rpy}"
            mass="${chassis_rear_mass}" />
        <xacro:create_fixed_joint
            parent="back_inner_shoulder"
            child="rear_chassis"
            rpy="0 0 0"
            xyz="${0*scale} ${-79*scale} ${0*scale}" />
    </xacro:macro>




    <!-- Leg builder -->
    <xacro:macro name="create_left_leg" params="parent name xyz">
        <xacro:create_link
            name="${name}_hip_servo"
            mesh="${servo_mesh}"
            xyz="${servo_xyz}"
            rpy="${servo_rpy}"
            mass="${servo_mass}" />
        <xacro:create_revolute_joint
            parent="${parent}"
            child="${name}_hip_servo"
            axis="1 0 0"
            lower="-0.78"
            upper="0.78"
            velocity="0.5"
            rpy="0 0 -1.57075"
            xyz="${xyz}" />

        <xacro:create_link
            name="${name}_hip"
            mesh="${left_hind_mesh}"
            xyz="${left_hind_xyz}"
            rpy="${left_hind_rpy}"
            mass="${left_hind_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_hip_servo"
            child="${name}_hip"
            rpy="0 0 -1.57075"
            xyz="${27.2*scale} ${-25*scale} ${-10*scale}" />

        <xacro:create_link
            name="${name}_midlimb_servo"
            mesh="${servo_mesh}"
            xyz="${servo_xyz}"
            rpy="${servo_rpy}"
            mass="${servo_mass}" />
        <xacro:create_revolute_joint
            parent="${name}_hip"
            child="${name}_midlimb_servo"
            axis="1 0 0"
            lower="-1.57"
            upper="1.57"
            velocity="0.5"
            rpy="0.8 0 0"
            xyz="0 0 0" />

        <xacro:create_link
            name="${name}_midlimb"
            mesh="${left_midlimb_mesh}"
            xyz="${left_midlimb_xyz}"
            rpy="${left_midlimb_rpy}"
            mass="${left_midlimb_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_midlimb_servo"
            child="${name}_midlimb"
            rpy="0 0 -1.57075"
            xyz="${9*scale} ${-13*scale} ${-107*scale}" />

        <xacro:create_link
            name="${name}_midlimb_cover"
            mesh="${left_midlimb_cover_mesh}"
            xyz="${left_midlimb_cover_xyz}"
            rpy="${left_midlimb_cover_rpy}"
            mass="${left_midlimb_cover_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_midlimb"
            child="${name}_midlimb_cover"
            rpy="0 0 0"
            xyz="0 ${49.7*scale} 0" />
        
        <xacro:create_link
            name="${name}_wrist_servo"
            mesh="${servo_mesh}"
            xyz="${servo_xyz}"
            rpy="${servo_rpy}"
            mass="${servo_mass}" />
        <xacro:create_revolute_joint
            parent="${name}_midlimb"
            child="${name}_wrist_servo"
            axis="1 0 0"
            lower="-2.6"
            upper="1.1"
            velocity="0.5"
            rpy="-1.6 0 1.57075"
            xyz="0 0 0" />
        
        <xacro:create_link
            name="${name}_wrist"
            mesh="${left_wrist_mesh}"
            xyz="${left_wrist_xyz}"
            rpy="${left_wrist_rpy}"
            mass="${left_wrist_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_wrist_servo"
            child="${name}_wrist"
            rpy="0 0 3.1415"
            xyz="${53*scale} 0 0" />
    </xacro:macro>



    <xacro:macro name="create_right_leg" params="parent name xyz">
        <xacro:create_link
            name="${name}_hip_servo"
            mesh="${servo_mesh}"
            xyz="${servo_xyz}"
            rpy="${servo_rpy}"
            mass="${servo_mass}" />
        <xacro:create_revolute_joint
            parent="${parent}"
            child="${name}_hip_servo"
            axis="1 0 0"
            lower="-0.78"
            upper="0.78"
            velocity="0.5"
            rpy="0 0 -1.57075"
            xyz="${xyz}" />

        <xacro:create_link
            name="${name}_hip"
            mesh="${right_hind_mesh}"
            xyz="${right_hind_xyz}"
            rpy="${right_hind_rpy}"
            mass="${right_hind_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_hip_servo"
            child="${name}_hip"
            rpy="0 0 1.57075"
            xyz="${27.2*scale} ${25*scale} ${-10*scale}" />

        <xacro:create_link
            name="${name}_midlimb_servo"
            mesh="${servo_mesh}"
            xyz="${servo_xyz}"
            rpy="${servo_rpy}"
            mass="${servo_mass}" />
        <xacro:create_revolute_joint
            parent="${name}_hip"
            child="${name}_midlimb_servo"
            axis="1 0 0"
            lower="-1.57"
            upper="1.57"
            velocity="0.5"
            rpy="-0.8 0 0"
            xyz="0 0 0" />

        <xacro:create_link
            name="${name}_midlimb"
            mesh="${right_midlimb_mesh}"
            xyz="${right_midlimb_xyz}"
            rpy="${right_midlimb_rpy}"
            mass="${right_midlimb_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_midlimb_servo"
            child="${name}_midlimb"
            rpy="0 0 -1.57075"
            xyz="${9*scale} ${13*scale} ${-107*scale}" />

        <xacro:create_link
            name="${name}_midlimb_cover"
            mesh="${right_midlimb_cover_mesh}"
            xyz="${right_midlimb_cover_xyz}"
            rpy="${right_midlimb_cover_rpy}"
            mass="${right_midlimb_cover_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_midlimb"
            child="${name}_midlimb_cover"
            rpy="0 0 0"
            xyz="${0*scale} ${49.7*scale} ${0*scale}" />

        <xacro:create_link
            name="${name}_wrist_servo"
            mesh="${servo_mesh}"
            xyz="${servo_xyz}"
            rpy="${servo_rpy}"
            mass="${servo_mass}" />
        <xacro:create_revolute_joint
            parent="${name}_midlimb"
            child="${name}_wrist_servo"
            axis="1 0 0"
            lower="-1.1"
            upper="2.6"
            velocity=".5"
            rpy="1.6 0 1.57075"
            xyz="${0*scale} ${0*scale} ${0*scale}" />

        <xacro:create_link
            name="${name}_wrist"
            mesh="${right_wrist_mesh}"
            xyz="${right_wrist_xyz}"
            rpy="${right_wrist_rpy}"
            mass="${right_wrist_mass}" />
        <xacro:create_fixed_joint
            parent="${name}_wrist_servo"
            child="${name}_wrist"
            rpy="0 0 0"
            xyz="${53*scale} ${0*scale} ${0*scale}" />
    </xacro:macro>
</robot>