<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Subwoofer_materials">

    <xacro:include filename="$(find subwoofer_model)/urdf/imports/constants.xacro"/>

    <material name="BLACK">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="RED">
        <color rgba="1.0 0.0 0.0 1.0"/>
    </material>

    <material name="WHITE">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

</robot>