<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Subwoofer_parts">
    <xacro:include filename="$(find subwoofer_model)/urdf/imports/constants.xacro"/>
    <xacro:property name="parts_location" value="file://$(find subwoofer_model)/meshes"/>


    
    <!-- Servo -->
    <xacro:property name="servo_mesh" value="${parts_location}/Servo.dae" />
    <xacro:property name="servo_xyz" value="${43*scale} ${0*scale} ${-10*scale}"/>
    <xacro:property name="servo_rpy" value="0 3.1415 1.57075"/>
    <xacro:property name="servo_mass" value="0.055"/>



    <!-- Baseplate -->
    <xacro:property name="baseplate_mesh" value="${parts_location}/V1.02_Chassis_BasePlate_RPi4.stl" />
    <xacro:property name="baseplate_xyz" value="${-150.6*scale} ${-151.9*scale} ${-400*scale}"/>
    <xacro:property name="baseplate_rpy" value="0 0 0"/>
    <xacro:property name="baseplate_mass" value="0.052"/>



    <!-- Chassis Left -->
    <xacro:property name="chassis_left_mesh" value="${parts_location}/V1.02_Chassis_Left_Side.dae" />
    <xacro:property name="chassis_left_xyz" value="${0*scale} ${0*scale} ${0*scale}"/>
    <xacro:property name="chassis_left_rpy" value="0 0 0"/>
    <xacro:property name="chassis_left_mass" value="0.011"/>

    <!-- Chassis Right -->
    <xacro:property name="chassis_right_mesh" value="${parts_location}/V1.02_Chassis_Right_Side.dae" />
    <xacro:property name="chassis_right_xyz" value="${0*scale} ${0*scale} ${0*scale}"/>
    <xacro:property name="chassis_right_rpy" value="0 0 0"/>
    <xacro:property name="chassis_right_mass" value="0.011"/>
    


    <!-- Chassis Bottom -->
    <xacro:property name="chassis_bottom_mesh" value="${parts_location}/V1.02_Cover_Bottom.dae" />
    <xacro:property name="chassis_bottom_xyz" value="${1004*scale} ${1015*scale} ${1292*scale}"/>
    <xacro:property name="chassis_bottom_rpy" value="1.57075 0 -1.57075"/>
    <xacro:property name="chassis_bottom_mass" value="0.055"/>
    
    <!-- Chassis Top -->
    <xacro:property name="chassis_top_mesh" value="${parts_location}/V1.02_Cover_Top.dae" />
    <xacro:property name="chassis_top_xyz" value="${1004*scale} ${-1016*scale} ${-1292*scale}"/>
    <xacro:property name="chassis_top_rpy" value="-1.57075 0 1.57075"/>
    <xacro:property name="chassis_top_mass" value="0.06"/>
    


    <!-- Front shoulder inner -->
    <xacro:property name="front_inner_shoulder_mesh" value="${parts_location}/V1.02_Front_Inner_Shoulder.dae" />
    <xacro:property name="front_inner_shoulder_xyz" value="${-34*scale} ${-2*scale} ${33*scale}"/>
    <xacro:property name="front_inner_shoulder_rpy" value="1.57075 0 3.1415"/>
    <xacro:property name="front_inner_shoulder_mass" value="0.035"/>
    
    <!-- Front shoulder outer-->
    <xacro:property name="front_outer_shoulder_mesh" value="${parts_location}/V1.02_Front_Outer_Shoulder.dae" />
    <xacro:property name="front_outer_shoulder_xyz" value="${-115.5*scale} ${2*scale} ${467*scale}"/>
    <xacro:property name="front_outer_shoulder_rpy" value="0 3.1415 3.1415"/>
    <xacro:property name="front_outer_shoulder_mass" value="0.017"/>
    
    <!-- Back shoulder inner -->
    <xacro:property name="back_inner_shoulder_mesh" value="${parts_location}/V1.02_Rear_Inner_Shoulder.dae" />
    <xacro:property name="back_inner_shoulder_xyz" value="${-116*scale} ${2*scale} ${467*scale}"/>
    <xacro:property name="back_inner_shoulder_rpy" value="3.1415 0 0"/>
    <xacro:property name="back_inner_shoulder_mass" value="0.018"/>
    
    <!-- Back shoulder outer-->
    <xacro:property name="back_outer_shoulder_mesh" value="${parts_location}/V1.02_Rear_Outer_Shoulder.dae" />
    <xacro:property name="back_outer_shoulder_xyz" value="${117*scale} ${55*scale} ${-470*scale}"/>
    <xacro:property name="back_outer_shoulder_rpy" value="0 0 3.1415"/>
    <xacro:property name="back_outer_shoulder_mass" value="0.034"/>
    

    
    <!-- Chassis Nose -->
    <xacro:property name="chassis_nose_mesh" value="${parts_location}/V1.02_Cover_Nose.dae" />
    <xacro:property name="chassis_nose_xyz" value="${142*scale} ${355*scale} ${510*scale}"/>
    <xacro:property name="chassis_nose_rpy" value="3.1415 0 1.57075"/>
    <xacro:property name="chassis_nose_mass" value="0.061"/>
    
    <!-- Chassis Rear -->
    <xacro:property name="chassis_rear_mesh" value="${parts_location}/V1.02_Cover_Rear_Plain.dae" />
    <xacro:property name="chassis_rear_xyz" value="${248.7*scale} ${252*scale} ${380*scale}"/>
    <xacro:property name="chassis_rear_rpy" value="0 1.57075 1.57075"/>
    <xacro:property name="chassis_rear_mass" value="0.043"/>
    


    <!-- Left hind -->
    <xacro:property name="left_hind_mesh" value="${parts_location}/V1.02_Left_Hind_Limb.dae" />
    <xacro:property name="left_hind_xyz" value="${3*scale} ${-23*scale} ${-26*scale}"/>
    <xacro:property name="left_hind_rpy" value="0 0 0"/>
    <xacro:property name="left_hind_mass" value="0.018"/>

    <!-- Left midlimb -->
    <xacro:property name="left_midlimb_mesh" value="${parts_location}/V1.02_Left_MidLimb.dae" />
    <xacro:property name="left_midlimb_xyz" value="${-48*scale} ${-20*scale} ${825*scale}"/>
    <xacro:property name="left_midlimb_rpy" value="0 3.1415 0"/>
    <xacro:property name="left_midlimb_mass" value="0.028"/>

    <!-- Left midlimb cover -->
    <xacro:property name="left_midlimb_cover_mesh" value="${parts_location}/V1.02_Left_MidLimb_Cover.dae" />
    <xacro:property name="left_midlimb_cover_xyz" value="${256*scale} ${-110*scale} ${926*scale}"/>
    <xacro:property name="left_midlimb_cover_rpy" value="0 3.1415 0"/>
    <xacro:property name="left_midlimb_cover_mass" value="0.02"/>
    
    <!-- Left Wrist -->
    <xacro:property name="left_wrist_mesh" value="${parts_location}/V1.02_Left_Wrist.dae" />
    <xacro:property name="left_wrist_xyz" value="${507*scale} ${235*scale} ${148*scale}"/>
    <xacro:property name="left_wrist_rpy" value="0 1.57075 -1.57075"/>
    <xacro:property name="left_wrist_mass" value="0.023"/>
    


    <!-- Right hind -->
    <xacro:property name="right_hind_mesh" value="${parts_location}/V1.02_Right_Hind_Limb.dae" />
    <xacro:property name="right_hind_xyz" value="${-120*scale} ${103*scale} ${28.2*scale}"/>
    <xacro:property name="right_hind_rpy" value="3.1415 0 0"/>
    <xacro:property name="right_hind_mass" value="0.018"/>
    
    <!-- Right midlimb -->
    <xacro:property name="right_midlimb_mesh" value="${parts_location}/V1.02_Right_MidLimb.dae" />
    <xacro:property name="right_midlimb_xyz" value="${48*scale} ${-20*scale} ${825*scale}"/>
    <xacro:property name="right_midlimb_rpy" value="0 0 0"/>
    <xacro:property name="right_midlimb_mass" value="0.028"/>
    
    <!-- Right midlimb cover -->
    <xacro:property name="right_midlimb_cover_mesh" value="${parts_location}/V1.02_Right_MidLimb_Cover.dae" />
    <xacro:property name="right_midlimb_cover_xyz" value="${-256*scale} ${-110*scale} ${926*scale}"/>
    <xacro:property name="right_midlimb_cover_rpy" value="0 0 0"/>
    <xacro:property name="right_midlimb_cover_mass" value="0.02"/>
    
    <!-- Right Wrist -->
    <xacro:property name="right_wrist_mesh" value="${parts_location}/V1.02_Right_Wrist.dae" />
    <xacro:property name="right_wrist_xyz" value="${-507*scale} ${235*scale} ${148*scale}"/>
    <xacro:property name="right_wrist_rpy" value="0 1.57075 1.57075"/>
    <xacro:property name="right_wrist_mass" value="0.023"/>
    
</robot>