<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="subwoofer_constants">
    <xacro:property name="scale" value="0.001"/>
    <xacro:property name="scalar" value="${scale} ${scale} ${scale}"/>

    <xacro:macro name="default_inertia">
        <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
    </xacro:macro>

</robot>